<script>
  window.staticImages = {
    emptyHeart: "<%= asset_path('empty-heart.png')%>",
    fullHeart: "<%= asset_path('full-heart.png')%>",
    addBookmark: "<%= asset_path('addBookmark.png')%>",
    deleteBookmark: "<%= asset_path('deleteBookmark.png')%>",
  }
</script>

<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
     "api/users/user.json.jbuilder",
     user: current_user
    ).html_safe %>
  <% end %>
</script>

<main id='root'></main>